.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
}

mat-form-field {
    width: 100%;
}

mat-hint {
    margin: 5px;
}

.action-btns {
    position: absolute;
    bottom: 5px;
    right: 0px;
    margin: 0;
}

.action-btns button {
    padding: 20px;
}
.mat-datepicker-toggle, .mat-mdc-icon-button {
    position: absolute;
    left: -15px;
    top: 5px;
    color: #47b9ec;
}
.date-custom {
    height: 56px;
}
.arrow {
    margin: auto;
}
.my-icon {
    color: #47b9ec;
}
.date-custom {
    .mdc-text-field__input {
        padding-left: 30px !important;
    }
    .mdc-floating-label {
        padding-left: 25px !important;
    }
}
.mdc-dialog__content {
    margin-top: 15px;
}